:root {
    --anlagenCardWidth: 280px
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;

}

header {
    margin-left: 15px;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--anlagenCardWidth), 1fr));

}

button {
    background-color: #ededed;
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 10px;
    border: 0px;
}

button:hover {
    background-color: #d3d3d3;
    cursor: pointer;
}

table {
    width: 100%;
}
table .number {
    text-align: right;
}


.kennzahlen {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(115px, 1fr));
}

.kennzahl {
    background-color: rgb(178, 240, 116);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    font-size: 13px;
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.kennzahl:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.noData {
    background-color: rgb(172, 172, 172);
}
.io:hover {
    background-color: rgb(182, 251, 113);
}

.nio {
    background-color: rgb(244, 94, 94);

}

.nio:hover {
    background-color: rgb(248, 100, 100);
}

.kennzahl img {
    vertical-align: middle;
    width: 30px;
}


.kostenstelle {
    background-color: #ededed;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    border-radius: 15px;
    margin:5px;
    padding: 5px;
}

.anlage {
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    animation: fadeIn 0.2s ease-out normal backwards;
}

.anlage h4 {
    margin-bottom: 0px;
    display: inline;

}

.anlage h5 {
    margin: 0px;
    margin-bottom: 5px;
    font-weight: 200;
}

.anlage:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.span2 {
    grid-row: span 2;
    border:  solid 2px rgb(0, 124, 218);
    box-sizing: border-box;
}

@media only screen and (max-width: 520px) {

    h1 { 
       font-size: 1.2em; 
    }

    .anlage h4 {
        font-size: 0.8em;
    
    }
 
 }

 @keyframes fadeIn {
     0% {transform: scale(0);}
     80% {transform: scale(1.05 );}
     100% {transform: scale(1);}
 }
 
