body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;

}

header {
    margin-left: 15px;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

}

.kennzahlen {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
}

.kennzahl {
    background-color: rgb(138, 255, 144);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    padding: 5px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.kennzahl:hover {
    background-color: rgb(94, 252, 102);
    transform: scale(1.05);
    cursor: pointer;
}

.nio {
    background-color: rgb(255, 129, 129);

}

.nio:hover {
    background-color: rgb(248, 100, 100);
}

.kennzahl img {
    vertical-align: middle;
    width: 30px;
}


.kostenstelle {
    background-color: #ededed;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    border-radius: 15px;
    margin:5px;
    padding: 5px;
}

.anlage {
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
}

.anlage h4 {
    margin-bottom: 0px;
    display: inline;

}

.anlage h5 {
    margin: 0px;
    margin-bottom: 5px;
    font-weight: 200;
    
}

.anlage:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

@media only screen and (max-width: 520px) {

    h1 { 
       font-size: 1.2em; 
    }
 
 }
